# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
# Virtual environments
.venv/
venv/
# Tooling
.coverage
htmlcov/
# Local env
.env
.streamlit/secrets.toml
logs/
data/raw/
data/interim/
data/processed/
.vscode
.idea/
.DS_Store
.devcontainer/
.vscode/
.devcontainer